<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/partials.html :: head ('Edit')" ></head>
<body class="gradient-custom-2">

<nav th:replace="partials/partials.html :: navbar" ></nav>

<section class="vh-100" sec:authorize="isAuthenticated()">
    <div class="container h-custom mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5 text-center mb-md-5 mb-lg-5 mb-xl-5">
                <img th:src="@{${#authentication.principal.image}}" class="img-fluid" id="" alt="Profile Pic"/>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form th:action="@{'/user/update?error'}" method="POST" th:object="${user}">
                    <ul>
                        <li th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></li>
                        <li th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></li>
                        <li th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}"></li>
                    </ul>
                    <!--                     Username input -->
                    <div class="form-outline">
                        <input type="text" id="username" class="form-control form-control-lg"
                               placeholder="Enter a valid user name" th:field="*{username}"/>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mt-3">
                        <input type="email" id="email" class="form-control form-control-lg"
                               placeholder="Enter email" th:field="*{email}"/>
                    </div>

<!--                    Password-->
                    <div class="form-outline mt-3">
                        <input type="password" id="password" class="form-control form-control-lg"
                               placeholder="Enter password" th:field="*{password}"/>
                    </div>

                    <div class="form-outline mt-3">
                        <input type="password" id="confirm" class="form-control form-control-lg"
                               placeholder="Confirm password" th:field="*{confirm}"/>
                    </div>

                    <!-- location input -->
                    <div class="form-outline mt-3">
                        <input type="text" id="location" class="form-control form-control-lg"
                               placeholder="Enter location" th:field="*{location}"/>
                    </div>

                    <!--Image input-->
                    <div class="form-outline mt-3">
                        <button type="button" class="form-control form-control-lg picker">Upload image</button>
                        <div id="image-url"></div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <input type="submit" value="Save" class="btn btn-primary btn-lg"
                               style="padding-left: 2.5rem; padding-right: 2.5rem;">
                    </div>

                </form>

                <form th:action="@{'/user/delete'}" method="GET">
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <input type="submit" value="Delete" class="btn btn-primary btn-lg"
                               style="padding-left: 2.5rem; padding-right: 2.5rem;">
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<script th:replace="partials/partials.html :: script-keys" ></script>
<script th:replace="partials/partials.html :: bootstrap-js" ></script>
<script th:replace="partials/partials.html :: file-stack" ></script>
<script th:replace="partials/partials.html :: file-js" ></script>
<script th:replace="partials/partials.html :: map-js" ></script>
<script th:replace="partials/partials.html :: environment-keys" ></script>


</body>
</html>