<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Events')"></head>
<body>
<!--    Jumbotron-->
    <nav th:replace="partials/partials.html :: navbar"></nav>
    <div class="container-fluid bg-dark py-5 px-4 my-5 text-center text-white">
<!--        <img class="bg-image" th:src="@{/images/little-frog.jpg}" width="800px" height="400px">-->
        <h1 class="display-4 fw-bolder">Hobby Hopper</h1>
        <p class="lead fw-normal text-white-50 mb-0">Find Your Fun</p>
<!--    Cards-->
    </div>
    <section class="container d-flex flex-wrap">
        <div class="card col-4 m-3" style="width: 18rem;" th:each="event : ${events}">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${event.eventName}"></h5>
                <p class="card-text" th:text="${event.eventDescription}"></p>
                <a href="#" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </section>


<script th:replace="partials/partials.html :: bootstrap-js"></script>
</body>

</html>