<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials/partials.html :: head ('event title here')"></head>

<body>

    <!--Nav Bar-->
    <nav th:replace="partials/partials.html :: navbar"></nav>

    <!--Header-->
    <div th:replace="partials/partials.html :: header"></div>

    <!--Event Details Template-->
    <div class="card mx-auto" style="width: 80rem;">
        <img src="https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Running/Articles/Benefits+of+Running/male+runner-carousel.jpg" class="img-fluid rounded mx-auto" alt="event-image">
        <div class="card-body">
            <h5 class="card-title">Event Title</h5>
            <p class="card-text">Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque dolorem hic laboriosam placeat veniam voluptatibus. At blanditiis, cum cupiditate deserunt enim fuga, impedit laboriosam odio provident quos rerum veniam?.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date</li>
            <li class="list-group-item">Time</li>
            <li class="list-group-item">Location</li>
            <li class="list-group-item">Age Restriction?</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">RSVP</a>
            <a href="#" class="card-link">Report</a>
        </div>
    </div>

    <!--Map-->
    <div id='map' style='width: 400px; height: 300px;'></div>

    <!--Footer-->
    <div th:replace="partials/partials.html :: footer"></div>

    <!--Bootstrap JS Script Tag-->
    <script th:replace="partials/partials.html :: bootstrap-js"></script>

    <!--External Script Tags-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
    <script src="js/mapbox-geocoder-utils.js"></script>
    <script src="js/keys.js"></script>

    <!--Map Script-->
    <script>
		mapboxgl.accessToken = MAPBOX_API_TOKEN;

		const map = new mapboxgl.Map({
			container: 'map', // container ID
			style: 'mapbox://styles/mapbox/streets-v11', // style URL
			center: [-98.5, 29.435], // starting position [lng, lat]
			zoom: 8.8 // starting zoom
		});
    </script>

</body>
</html>
