<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${event.eventName}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link  href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet'>
</head>

<body>

    <!--Nav Bar-->
    <nav th:replace="partials/partials.html :: navbar"></nav>

    <!--Header-->
    <div th:replace="partials/partials.html :: header"></div>

    <!--Event Details Card-->
    <div class="card mx-auto text-center" style="width: 80rem;">

        <!--if event has no images, display hard-coded image below-->

        <div th:if="${images.size() == 0}">
            <img th:src="@{http://dummyimage.com/110x100.png/dddddd/000000}">
        </div>

        <!--if event has images, display carousel below-->
            <!--Image carousel-->
            <div th:if="${images.size() > 0}" id="carouselExampleIndicators" class="carousel slide w-75 mx-auto" data-bs-ride="true">

                    <div th:if="${event.eventImages.size() > 1}" class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>

                        <button th:if="${event.eventImages.size() > 2}" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

                        <button th:if="${event.eventImages.size() > 3}" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>

                        <button th:if="${event.eventImages.size() > 4}" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>

                    <!--Images from the database-->
                    <div class="carousel-item active ratio ratio-16x9">
                        <img th:src="${event.eventImages.get(0).url}" class="d-block w-100" th:alt="${event.eventImages.get(0).imageDescription}">
                    </div>

                    <div th:if="${event.eventImages.size() > 1}" class="carousel-item ratio ratio-16x9">
                        <img th:src="${event.eventImages.get(1).url}" class="d-block w-100" th:alt="${event.eventImages.get(1).imageDescription}">
                    </div>

                    <div th:if="${event.eventImages.size() > 2}" class="carousel-item ratio ratio-16x9">
                        <img th:src="${event.eventImages.get(2).url}" class="d-block w-100" th:alt="${event.eventImages.get(2).imageDescription}">
                    </div>

                    <div th:if="${event.eventImages.size() > 3}" class="carousel-item ratio ratio-16x9">
                        <img th:src="${event.eventImages.get(3).url}" class="d-block w-100" th:alt="${event.eventImages.get(3).imageDescription}">
                    </div>

                    <div th:if="${event.eventImages.size() > 4}" class="carousel-item ratio ratio-16x9">
                        <img th:src="${event.eventImages.get(4).url}" class="d-block w-100" th:alt="${event.eventImages.get(4).imageDescription}">
                    </div>

                    <!--Carousel navigation buttons-->
                    <div th:if="${event.eventImages.size() > 1}">
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>


        <!--Event Info: name, description, start date & time, event address-->
        <div class="card-body">
            <h5 class="card-title"> <span th:text="${event.eventName}"></span> </h5>
            <p class="card-text"> Description: <span th:text="${event.eventDescription}"></span> </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date of Event: <span th:text="${event.startDate}"></span> </li>
            <li class="list-group-item">Start Time: <span th:text="${event.startTime}"></span> </li>
            <li class="list-group-item">Location: <span id="address" th:text="${event.address}"></span> </li>
        </ul>

        <!--Todo: finish RSVP and Report button functionality-->

        <!--Buttons-->
        <div class="card-body">

            <!--RSVP Button-->
            <div sec:authorize="isAuthenticated()" th:if="${event.rsvpAble and userIsOwner==null}" class="dropdown">
                <div class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    RSVP
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li>
                        <form th:action="@{/event/rsvp}" method="post">
                            <input hidden name="event-id" th:value="${event.id}">
                            <input hidden name="expertise" value="1">
                            <button type="submit"> Beginner </button>
                        </form>
                    </li>
                    <li>
                        <form th:action="@{/event/rsvp}" method="post">
                            <input hidden name="event-id" th:value="${event.id}">
                            <input hidden name="expertise" value="2">
                            <button type="submit"> Intermediate </button>
                        </form>
                    </li>
                    <li>
                        <form th:action="@{/event/rsvp}" method="post">
                            <input hidden name="event-id" th:value="${event.id}">
                            <input hidden name="expertise" value="3">
                            <button type="submit"> Advanced </button>
                        </form>
                    </li>

                </ul>
            </div>

            <!--Report Button-->
            <form action="/event/report" method="post">
                <input hidden th:value="${event.id}">
                <button type="button" class="btn btn-danger">Report</button>
            </form>

            <!--Edit Button-->
        <a th:if="${userIsOwner}" class="btn btn-primary" th:href="'/event/edit/' + ${event.id}" role="button"> Edit </a>

            <!--Delete Button-->
        <a th:if="${userIsOwner}" onclick="deleteEvent()" id="delete-button" type="button" class="btn btn-dark">Delete</a>
        <script>
            function deleteEvent() {
				alert("Are you sure you want to delete your event?");
                // document.getElementById("delete-button").innerHTML = "Hello World";
            }
        </script>


        </div>
    </div>


    <!--Map HTML Element-->
    <div id='map' class="mx-auto m-3" style='width: 80%; height: 300px;'></div>

    <!--Footer-->
    <div th:replace="partials/partials.html :: footer"></div>

    <!--Bootstrap JS Script Tag-->
    <script th:replace="partials/partials.html :: bootstrap-js"></script>

    <!--Keys.js-->
    <script th:src="@{/js/keys.js}"></script>

    <!--MapBox API Scripts-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
    <script th:src="@{/js/mapbox-geocoder-utils.js}"></script>
    <script th:src="@{/js/mapbox.js}"></script>

    <!--Script that centers map and adds marker on event address-->
    <script>
        "use strict";

        let address = document.getElementById("address").textContent;
        let centerCoords;

        geocode(address, MAPBOX_API_TOKEN).then(function(data){
            centerCoords = data;
			runMap(centerCoords);
			addAddressMarker(centerCoords, address);
		})
    </script>


</body>
</html>
