<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Find Your Fun!')"></head>
<body class="gradient-custom-2">
    <nav th:replace="partials/partials.html :: navbar"></nav>
<!--    Graphic at top of page-->
    <header class="jumbotron text-center text-white gradient-custom-2">
        <div class="jumbotron-content">
            <div class="container-fluid px-5">
<!--                <h1 class="jumbotron-heading">Hobby Hoppr</h1>-->
                <h1 class="jumbotron-heading">Find Your Fun!</h1>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" th:href="${'/event'}">View Events</a> <p class="my-auto">or</p>
                <a class="btn btn-primary btn-xl rounded-pill " th:href="${'/sign-up'}">Sign up</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        </header>
<!--        first content section-->
        <section id="scroll">
            <div class="circle-container px-5">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" th:src="@{/images/street-biking.jpg}"></div>
                    </div>

                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">For outdoor activities</h2>
                            <p>Take a walk with friends or skate with friendly strangers. Schedule a group run on your favorite trail or try out that skate park you've always wanted to. Meet up with people that crave the same outdoor adventures as you in the click of a button!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--        second content section-->
        <section>
            <div class="circle-container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div><img class="img-fluid rounded-circle" th:src="@{/images/yoga.jpg}"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">For indoor activities</h2>
                            <p>Ever tried indoor camping? Neither have we but there's someone on this site who has! Get a group together for a treasure hunt or indoor swim. Gather improv artists to put on a show together. There are so many possibilities!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--            third content section-->
        <section>
            <div class="circle-container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" th:src="@{/images/programming.jpg}"></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">For coming together</h2>
                            <p>Assemble, round up, huddle...however you put it coming together is always a good time. Create an event to support a local business. Even meet up for a gaming tournament or create your own. There's so much you can do!</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="partials/partials.html :: footer"></footer>
    <script th:replace="partials/partials.html :: bootstrap-js"></script>
</body>
</html>