<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Find Your Fun!')"></head>
<body>
    <nav th:replace="partials/partials.html :: navbar"></nav>
<!--    Graphic at top of page-->
    <header class="jumbotron text-center text-white">
        <div class="jumbotron-content">
            <div class="container-fluid px-5">
                <h1 class="jumbotron-heading">Hobby Hoppr</h1>
                <h2 class="jumbotron-subheading">Find Your Fun!</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" th:href="${'/event'}">View Events</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        </header>
<!--        first content section-->
        <section id="scroll">
            <div class="circle-container px-5">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" th:src="@{/images/street-biking.jpg}"></div>
                    </div>

                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">For outdoor activities</h2>
                            <p>Outdoor activities aren't just good for your physical health.  They help with your mental health as well. Spending time in nature and the natural light can improve your mood and reduce stress and depression. Engaging in out activity produces similar benefits and often times relaxes and cheers people up.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--        second content section-->
        <section>
            <div class="circle-container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div><img class="img-fluid rounded-circle" th:src="@{/images/yoga.jpg}"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">For indoor activities</h2>
                            <p>Indoor activities aren't just good for your physical health.  It helps with your mental health as well. Spending time indoors can improve your mood and reduce anxiety. Engaging in indoor activity produces similar benefits and often times relaxes and cheers people up.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--            third content section-->
        <section>
            <div class="circle-container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" th:src="@{/images/programming.jpg}"></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">For coming together</h2>
                            <p>Coming together with others can improve your mood and reduce anxiety. Engaging with others produces similar benefits and often times relaxes and cheers people up.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="partials/partials.html :: footer"></footer>
<script th:replace="partials/partials.html :: bootstrap-js"></script>
</body>
</html>