<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/partials.html :: head ('Search Events')">
</head>
<body>

    <nav th:replace="partials/partials.html :: navbar" ></nav>
    <div class="container-fluid">
<!--    categories sidebar-->
        <div class="side-nav col-3 pt-2 p-1">
            <ul class="list-group">
                    <li class="nav-item mb-2"><a class="" href="/event/search?search=indoor">Indoor</a></li>
                    <li class="nav-item mb-2"><a href="/event/search?search=outdoor">Outdoor</a></li>
                    <li class="nav-item mb-2"><a href="/event/search?search=high%20activity">High Intensity</a></li>
                    <li class="nav-item mb-2"><a href="/event/search?search=moderate%20activity">Moderate Intensity</a></li>
                    <li class="nav-item mb-2"><a href="/event/search?search=low%20activity">Low Intensity</a></li>
            </ul>
        </div>

<!--        event cards-->
        <div th:if="${eventsByTitle}">
            <div class="main col-9 h-100 pb-2 mb-5">
                <section class="event-cards justify-content-evenly d-flex flex-wrap">
                    <div class="card col-4 m-3" style="width: 18rem;" th:each="event : ${eventsByTitle}">

                        <!--    Image carousel within card-->
                        <div th:id="carouselExampleIndicators +${event.id}" class=" carousel slide overflow-hidden w-100 mx-auto" data-bs-interval="false">
                            <div th:if="${event.eventImages.size() > 1}" class="carousel-indicators">
                                <button type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

                                <button type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide-to="1" aria-label="Slide 2"></button>

                                <button th:if="${event.eventImages.size() > 2}" type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide-to="2" aria-label="Slide 3"></button>

                                <button th:if="${event.eventImages.size() > 3}" type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide-to="3" aria-label="Slide 4"></button>

                                <button th:if="${event.eventImages.size() > 4}" type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            </div>

                            <!--                Carousel images-->
                            <div class="carousel-item active ratio ratio-16x9">
                                <img th:src="${event.eventImages.get(0).url}" class="d-block w-100" th:alt="${event.eventImages.get(0).imageDescription}">
                            </div>

                            <div th:if="${event.eventImages.size() > 1}" class="carousel-item ratio ratio-16x9">
                                <img th:src="${event.eventImages.get(1).url}" class="d-block w-100" th:alt="${event.eventImages.get(1).imageDescription}">
                            </div>

                            <div th:if="${event.eventImages.size() > 2}" class="carousel-item ratio ratio-16x9">
                                <img th:src="${event.eventImages.get(2).url}" class="d-block w-100" th:alt="${event.eventImages.get(2).imageDescription}">
                            </div>

                            <div th:if="${event.eventImages.size() > 3}" class="carousel-item ratio ratio-16x9">
                                <img th:src="${event.eventImages.get(3).url}" class="d-block w-100" th:alt="${event.eventImages.get(3).imageDescription}">
                            </div>

                            <div th:if="${event.eventImages.size() > 4}" class="carousel-item ratio ratio-16x9">
                                <img th:src="${event.eventImages.get(4).url}" class="d-block w-100" th:alt="${event.eventImages.get(4).imageDescription}">
                            </div>

                            <!--        Side button functionality-->
                            <div th:if="${event.eventImages.size() > 1}">
                                <button class="carousel-control-prev" type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        </div>

                        <div class="card-body">
                            <h5 class="card-title mb-2" th:text="${event.eventName}"></h5>
                            <h6 class="card-subtitle my-1" th:text="${event.startDate}"></h6>
                            <p class="card-text" th:text="${event.eventDescription}"></p>
                            <a th:href="${'/event/'+ event.id}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </section>


            </div>
        </div>
        <div th:if="${eventsByCategory}">
            <div class="main col-9 h-100 pb-2 mb-5">
                <section class="main2 event-cards container d-flex flex-wrap justify-content-evenly">
                    <div class="card col-4 m-3" style="width: 18rem;" th:each="event : ${eventsByCategory}">

                        <!--    Image carousel within card-->
                        <div th:id="carouselExampleIndicators +${event.id}" class=" carousel slide overflow-hidden w-100 mx-auto" data-bs-interval="false">
                            <div th:if="${event.eventImages.size() > 1}" class="carousel-indicators">
                                <button type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

                                <button type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide-to="1" aria-label="Slide 2"></button>

                                <button th:if="${event.eventImages.size() > 2}" type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide-to="2" aria-label="Slide 3"></button>

                                <button th:if="${event.eventImages.size() > 3}" type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide-to="3" aria-label="Slide 4"></button>

                                <button th:if="${event.eventImages.size() > 4}" type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            </div>

                            <!--                Carousel images-->
                            <div class="carousel-item active ratio ratio-16x9">
                                <img th:src="${event.eventImages.get(0).url}" class="d-block w-100" th:alt="${event.eventImages.get(0).imageDescription}">
                            </div>

                            <div th:if="${event.eventImages.size() > 1}" class="carousel-item ratio ratio-16x9">
                                <img th:src="${event.eventImages.get(1).url}" class="d-block w-100" th:alt="${event.eventImages.get(1).imageDescription}">
                            </div>

                            <div th:if="${event.eventImages.size() > 2}" class="carousel-item ratio ratio-16x9">
                                <img th:src="${event.eventImages.get(2).url}" class="d-block w-100" th:alt="${event.eventImages.get(2).imageDescription}">
                            </div>

                            <div th:if="${event.eventImages.size() > 3}" class="carousel-item ratio ratio-16x9">
                                <img th:src="${event.eventImages.get(3).url}" class="d-block w-100" th:alt="${event.eventImages.get(3).imageDescription}">
                            </div>

                            <div th:if="${event.eventImages.size() > 4}" class="carousel-item ratio ratio-16x9">
                                <img th:src="${event.eventImages.get(4).url}" class="d-block w-100" th:alt="${event.eventImages.get(4).imageDescription}">
                            </div>

                            <!--        Side button functionality-->
                            <div th:if="${event.eventImages.size() > 1}">
                                <button class="carousel-control-prev" type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" th:data-bs-target="'#carouselExampleIndicators'+${event.id}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                        </div>

                        <div class="card-body">
                            <h5 class="card-title mb-2" th:text="${event.eventName}"></h5>
                            <h6 class="card-subtitle my-1" th:text="${event.startDate}"></h6>
                            <p class="card-hobby" th:text="${event.eventHobbies}"></p>
                            <p class="card-text" th:text="${event.eventDescription}"></p>
                            <a th:href="${'/event/'+ event.id}" class="btn btn-primary mt-auto">View Details</a>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>

    <footer th:replace="partials/partials.html :: footer"></footer>
    <script th:replace="partials/partials.html :: bootstrap-js"></script>
</body>
</html>