/*Mapbox Popup*/

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
    text-align: center;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}