/*Mapbox Popup*/

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
    text-align: center;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

#rsvp-buttons {
    /* fallback for old browsers */
    background: rgb(143, 176, 144);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(143,176,144,255), rgba(166, 193, 238, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(143, 176, 144), rgba(166, 193, 238, 1));
    border: 1px black;
}

.rsvp-btn-dropdown {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}
