ul{
    list-style: none;
}

header.jumbotron {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: linear-gradient(0deg, #d2c6bc 0%, #273b1f 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}
header.jumbotron .jumbotron-content {
    z-index: 1;
    position: relative;
}
header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
}
header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
}
header.jumbotron .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #d2c6bc 0%, #273b1f 100%);
}
header.masthead .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
}
header.masthead .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
}
