/*Sign Up*/
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 50%;
    }
}

#profile-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

li{
    list-style: none;
    text-decoration: none;
}



